.botton {
    width: 210px;
    height: 40px;
    background: #FFCE51;
    border-radius: 10px;
    display: flex;
    justify-content: center;
   
&__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    // text-transform: uppercase;
    color: #3A4959;
    
}
&__text:hover {
    text-decoration: none;
    color: #3A4959;
}
&__text:active {
    text-decoration: none;
    color: #3A4959;
}
&__text:link {
    text-decoration: none;
    color: #3A4959;
}
&__text:visited {
    text-decoration: none;
    color: #3A4959;
}
}