<div class="comprehensive">
    <div class="container">
        <div class="comprehensive__blocks">
            <div class="comprehensive__content">
                <div class="comprehensive__img"></div>
            </div>
            <div class="comprehensive__content">
                <div class="comprehensive__line">
                    @@include('./../components/line.html')
                </div>
                <div class="comprehensive__title">Comprehensive Pain Treatment</div>
                <div class="comprehensive__text">Healthy Spine Family Chiropractic was created for the necessity
                    of custom made chiropractic treatment for all ages. We understand that not all bodies are the same
                    and so your chiropractic treatment will be tailored to you. Healthy Spine Family Chiropractic was created for
                    the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies
                    are the same and so your chiropractic treatment will be tailored to you. Healthy Spine Family
                    Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that
                    not all bodies are the same and so your chiropractic treatment will be tailored to you.</div>
                <div class="comprehensive__botton comprehensive__botton-text">Learn more</div>
            </div>
        </div>
    </div>
</div>