<div class="services">
    <div class="container">
        <div class="services__line">
            @@include('./../components/line.html')
        </div>
        <div class="services__article">Services</div>
        <div class="services__blocks">
            <div class="services__content-">
                <div class="services__img"></div>
                <div class="services__title">Chiropractic</div>
                <div class="services__text">Chiropractic care is a unique science that focuses on restoring and
                    maintaining health, while most other healing arts are designed to treat disease.</div>
            </div>
        </div>
        <div class="services__blocks-possition">
            <div class="services__content-possition">
                <div class="services__img-acupuncture"></div>
                <div class="services__title">Acupuncture</div>
                <div class="services__text">Healthy Spine Family Chiropractic, serves the Thornton and surrounding
                    communities and it provides a natural, conservative approach to your health care.</div>
            </div>
        </div>
        <div class="services__blocks">
            <div class="services__content">
                <div class="services__img-massage"></div>
                <div class="services__title">Massage</div>
                <div class="services__text">Healthy Spine Family Chiropractic, serves the Thornton and surrounding
                    communities and it provides a natural, conservative approach to your health care.</div>
            </div>
        </div>
    </div>
</div>