<div class="spine">
    <div class="container">
        <div class="spine__title">Healthy Spine Family Chiropractic</div>
        <div class="spine__text">Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the same.</div>
        <div class="spine__botton spine__botton-text">Get In Touch Now</div>
        <div class="spine__svg-img"></div>
        <div class="spine__img"></div>
        <div class="spine__elipse-big"></div>
        <div class="spine__elipse-small"></div>
    </div>
</div>